body,
html {
    height: 100vh;
}

body {
    display: grid;
    gap: 10px 12px;
    grid-template-columns: 12% 35% 35% auto auto;
    grid-template-rows: 10% auto 15%;
    grid-template-areas: "header header header header header" ". content content . ." ". footer footer . .";
}


/* ============================ HEADER ================== */

header {
    grid-area: header;
    display: grid;
    gap: 10px 12px;
    grid-template-columns: 12% 70% auto 10%;
    grid-template-rows: 60% 30%;
    grid-template-areas: "logo searchbar . icons" ". nav . .";
    margin-left: 6px;
    margin-right: -6px;
    margin-top: 40px;
}

.logo {
    display: grid;
    grid-area: logo;
    justify-items: center;
    align-items: center;
}

.searchbar {
    display: flex;
    grid-area: searchbar;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 60%;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
}

.searchbar img {
    padding-left: 4px;
}

.searchInput {
    width: 90%;
    border: none;
    height: 30px;
    outline: none;
}

.icons {
    display: flex;
    grid-area: icons;
    justify-content: center;
    align-items: center;
}

.icons img {
    height: 20px;
    padding-left: 20px;
}

.navbar {
    grid-area: nav;
    background-color: rgb(175, 36, 230);
}

.navbar li {
    display: inline;
}

.pagination li {
    display: inline;
}


/* ============================ BODY ================== */

.content {
    grid-area: content;
    background-color: indianred;
    margin-right: 6px;
    margin-left: 6px;
}


/* ============================ FOOOTER ================== */

footer {
    grid-area: footer;
    background-color: gray;
    margin-left: 6px;
    margin-right: 6px;
}

footer li {
    display: inline;
}